.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(../12.1/img/note-ngay-50-anh-bau-troi-buon-dep-tam-trang-tinh-mich_8.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(../12.1/img/hinh-nen-thien-nhien-phong-canh-dep-41_043158145.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(../12.1/img/hinh-nen-may-tinh-thien-nhien-phong-canh-mua-thu.jpg);
}
